<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://unpkg.com/nes.css/css/nes.min.css">
      <link href = "https://fonts.googleapis.com/css?family=Press+Start+2P" rel = "stylesheet">
    </head>
<body>
<center>
<h2>Да/нетки</h2>
<h3>1. Вопрос</h3>
  <label>
    <input type="radio" class="nes-radio" name="answer" checked />
    <span>Да</span>
  </label>
  
  <label>
    <input type="radio" class="nes-radio" name="answer" />
    <span>Нет</span>
  </label>
</center>
</body>
</html>