<!DOCTYPE html>
<html>
    <head>
        <style>
            html { 

background: url(https://i.pinimg.com/736x/22/50/1d/22501dfc2b2911601676ef23ca06a080.jpg) no-repeat center fixed; 
background-size: cover;
}
        </style>
      <!-- <link rel="stylesheet" href="https://unpkg.com/nes.css/css/nes.min.css"> -->
      <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

      <link href = "https://fonts.googleapis.com/css?family=Press+Start+2P" rel = "stylesheet">
      <link rel="stylesheet" href="./css/buttons.css">
    </head>
<body>>
<center>
<h2>Несколько выборов</h2>
<h3>1. Вопрос</h3>

<p>
<button type="button" class="nes-btn is-error" >Ответ 1</button>
<button type="button" class="nes-btn is-error">Ответ 2</button>
</p>
<p>
<button type="button" class="nes-btn is-error">Ответ 3</button>
<button type="button" class="nes-btn is-error">ОТвет 4</button>
</p>
<a class="nes-btn">Следующая</a>

  <script src="/static/js/index.js"></script>

</center>
</body>
</html>